body {
    margin: 0;
    font-family: 'Times New Roman', sans-serif;
}

.menu-wrapper {
    
}

.menu-wrapper .menu {
    /* height: 3rem; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background: gray;
}

.menu-wrapper .menu-item {
    display: flex;
    flex: auto;
    border: 1px solid white;
}

.menu-wrapper .menu-link
{
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    color: white;
    text-align: center;

    padding: .5rem;
    flex: auto;

    
}

.menu-wrapper .menu-link:hover {
    transition: 0.5s;
    background:lightskyblue;
}

@media all and (max-width: 430px) {
    .menu-wrapper .menu {
        flex-direction: column;
     }

}