
body {
    margin: 0;
}
.container {
    border: 5px solid black;
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    /* align-content: flex-start; */
    
    height: 600px;

    /* flex-wrap: wrap; */
    /* flex-direction: column; */

    /* a short hand of flex-wrap and flex-direction */
    /* flex-flow: column wrap; */

}

.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    /* width: 8rem; */
    /* flex-shrink: 1; */
    /* height: 400px; */
    /* flex-grow: 1; */
}


.item-1 {
    /* font-size: 2rem; */
    background: blue;
    /* flex-grow: 3; */
}

.item-2 {
    /* flex-grow: 100000000; */
    /* font-size: .25rem; */
    background: green;
    /* flex-shrink: 4; */
    /* order: 2; */
}

.item-3 {
    /* font-size: 3rem; */
    background: darkred;
    /* order: 1; */
}

.item-4 {
    align-self: flex-end;
    background: darkturquoise;
}

.item-5 {
    background: gold;
}

.item-6 {
    background: gray;
}

.item-7 {
    background: purple;
}

.item-8 {
    background: red;
}

.item-9 {
    background: orangered;
}